.navbar__logo {
  font-weight: 600;
  color: var(--secondary-color);
}

.navbar__item:hover::before {
  content: '';
  position: absolute;
  bottom: 4px;
  right: 8px;
  width: 50%;
  height: 2px;
  background-color: black;
  animation: bottom-tile 1.5s cubic-bezier(0.18, 0.41, 0.74, 1.21);
}

.navbar__item--active::before {
  content: '';
  position: absolute;
  bottom: 4px;
  right: 8px;
  width: 50%;
  height: 2px;
  background-color: black;
  animation: bottom-tile 1.5s cubic-bezier(0.18, 0.41, 0.74, 1.21);
}

@keyframes bottom-tile {
  0% {
    width: 0%;
  }

  100% {
    width: 50%;
  }
}