.profile-card {
  width: 100%;
  border-radius: 10px;
  background-color: var(--light-grey);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: fit-content;
  padding: 20px;
  margin-top: 15px;
}

.profile-card__image-container {
  height: fit-content;
  width: fit-content;
}

.profile-card__image-container .image-container__image {
  border-radius: 50%;
}

.profile-card .profile-card__name {
  font-weight: 600;
  font-size: 18px;
}

.profile-card .profile-card__bio {
  font-size: 14px;
  text-align: center;
}

.profile-card .profile-card__edit-link,
.profile-card .profile-card__edit-link:hover {
  color: var(--color-blue);
  text-decoration: underline;
}