.blogs {
  display: flex;
  flex-direction: column;
  padding: 1rem 1.3rem;
}

.blogs .blogs__heading {
  font-size: 2.2rem;
  font-weight: 700;
  padding-left: 10px;
}

.blogs__main {
  width: 100%;
  display: flex;
  gap: 20px;
}

.main__container {
  flex: 2;
}

.main__sidebar {
  flex: 1;
}

@media (width<=1007px) {
  .blogs__main {
    flex-direction: column;
    gap: 10px;
  }

  .blogs {
    margin-bottom: 60px;
  }
}