.create-post {
  height: calc(100vh - var(--navbar-height));
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: var(--navbar-height);
}

.create-post__heading {
  text-decoration: underline;
  margin: 10px 0;
}

.editor__title {
  width: 100%;
  padding: 6px;
  border-radius: 10px;
  font-size: 1.5rem;
  border: 2px solid var(--light-grey-mid);
  margin-bottom: 10px;
  outline: none;
}

.create-post__buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.buttons__discard {
  margin-left: 10px;
}