.create-post {
  /* height: calc(100vh - var(--navbar-height)); */
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: var(--navbar-height);
}

.create-post__heading {
  text-decoration: underline;
  margin: 10px 0;
}


.create-post__editor {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.create-post__image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: calc(100vw - 100px);
  overflow: hidden
}

.create-post__featured-image {
  height: 250px;
  width: 100%;
  object-fit: contain;
}

.editor__title {
  width: 100%;
  padding: 6px;
  border-radius: 10px;
  font-size: 1.5rem;
  border: 2px solid var(--light-grey-mid);

  outline: none;
}

.create-post__buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.buttons__discard {
  margin-left: 10px;
}