* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #fafaf9;
  --secondary-color: #292524;
  --contrast-color: #57534e;

  --light-grey: #f8f9fa;
}

body {
  font-family: Montserrat;
}