@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
@import url('./froalaModified.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #fafaf9;
  --secondary-color: #292524;
  --contrast-color: #57534e;

  --light-grey: #efefef;
  --light-grey-mid: #CCCCCC;
  --color-white: white;
  --color-grey-low-opacity: rgba(128, 128, 128, 0.259);
  --grey-box-shadow: 0px 0px 12px #808080;

  --color-red-600: #dc2626;
  --color-blue: rgb(72, 154, 252);
  --navbar-height: 64px;
}

body {
  font-family: 'Montserrat', sans-serif;
}